<ion-header>
  <ion-toolbar>
    <ion-title>Ireland</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
<h3>Irish Weather</h3>
<p>In Ireland it can rain at any time anywhere so bring a light rain-jacket with you! Temperatures vary from about 19-20 degrees Celsius during Summer to 0 to 3 degrees Celsius during Winter. The average national temperature is 9 degrees Celsius.</p>
<p><img width="250" height="250" src="../assets/img/Irelandsun.jpg" /> </p>
<h3>Accomodation</h3>
<p>It is vital to book your accommodation well in advance when you are planning to visit Ireland. There are a variety of different accommodation options available to visitors including traditional Irish 'bed and breakfasts' which can charge anywhere from EURO 30 to EURO 100 depending on the quality of the accommodation and the time of the year (a big consideration!). Hotels of decent quality can cost anywhere from EURO 50 upwards per person. Expect to pay 80 to 100 for decent 3-star accommodation. These generally include breakfast although the new Jurys hotels offer accommodation without breakfast.</p>
<p><img width="250" height="250" src="../assets/img/irelandMap.jpg" /> </p>
<h3>Population</h3>
<p>4.904 million (2019) Ireland population is equivalent to 0.06% of the total world population.Ireland ranks number 124 in the list of countries (and dependencies) by population The total land area is 68,890 Km2 (26,599 sq. miles)</p>
<p><img width="250" height="250" src="../assets/img/population.jpg" /> </p>
<h3>List Of Counties</h3>
<p>Antrim Armagh Carlow Cavan Clare Cork Derry Donegal Down Dublin Fermanagh Galway Kerry Kildare Kilkenny Laois Leitrim Limerick Longford Louth Mayo Meath Monaghan Offaly Roscommon Sligo Tipperary Tyrone Waterford Westmeath Wexford Wicklow</p>
<p><img width="250" height="250" src="../assets/img/MapsIrish.jpg" /> </p>
<h3>Telepone Charges</h3>
<p>Telephone charges are among the most expensive in Europe. If you must ring home then do so after 6pm in the evening as this is when the economy rate begins. If you have an international dialing service from your local operator you should definitely consider using it. There are other options such as SWIFTCALL who are long distance telephone call merchants. You could arrange to purchase a EURO 10 call-card from them before your trip, especially if you think you will be ringing home frequently. Do not use public or hotel payphones or credit card telephones in hotel lobbys as they are very expensive.</p>
<p><img width="250" height="250" src="../assets/img/Phone.jpg" /> </p>


</ion-content>
