<ion-header>
  <ion-toolbar>
    <ion-title>Spain</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
<h3>Spainish Weather</h3>
<p>In the winter, temperatures are around 18 degrees Celsius (64 Fahrenheit) on the coast and in the Canary Islands around 23 degrees Celsius (74 F). The north of Spain has to do with a maritime climate which means that both summer and winter months are mild with relatively high rainfall</p>
<p><img width="250" height="250" src="../assets/img/weather.jpg" /> </p>

<h3>Population of Spain</h3>
<p>48 million people live in Spain (2019) Spain population is equivalent to 0.6% of the total world population.Spain ranks number 30 in the list of countries and dependencies by population The total land area is 498,800 Km2 (192,588 sq. miles)</p>
<p><img width="250" height="250" src="../assets/img/people.jpg" /> </p>

<h3>Capital </h3>
<p>Madrid, the third-largest city in the European Union, is the capital of Spain. One of the main shopping streets in Madrid, the capital of Spain. Madrid is the third-largest city in the European Union behind only London and Berlin. It is the capital and largest city of Spain with a population of roughly 3.2 million</p>
<p><img width="250" height="250" src="../assets/img/Spain.jpg" /> </p>

<h3>National Symbol</h3>
<p>National flag and coat of arms, the short-toed eagle (national bird), red carnation (national flower), the bull (national animal). The official Spanish anthem "La Marcha Real" (the Royal March) is one of only four anthems in the world without lyrics</p>
<p><img width="250" height="250" src="../assets/img/flag2.jpg" /> </p>
<h3>Where is spain</h3>
<p>a flight to Madrid take roughly 2.5 hours from London/England, 7 hours from New York/USA Spain borders the countries Portugal, Andorra, France, Gibraltar (which is a British Overseas Territory). Spain also shares borders with Morocco, as the two Spanish enclaves (Spanish territories) Ceuta and Melilla are located within Morocco</p>
<p><img width="250" height="250" src="../assets/img/map.jpg" /> </p>


</ion-content>
