<ion-header>
  <ion-toolbar>
    <ion-title>England</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
<h3>English Weather</h3>
<p>In general we have warm summers and cool winters. Our summers are cooler than those on the continent, but the winters are milder. The overall climate in England is called temperate maritime. This means that it is mild with temperatures not much lower than 0ºC in winter and not much higher than 32ºC in summer.</p>
<p><img width="250" height="250" src="../assets/img/englandTem.jpg" /> </p>
<h3>Population of england</h3>
<p>England is the most populated country in the United Kingdom. The other countries that make up the United Kingdom are Wales, Scotland and Northern Ireland The population of England in 2011 was around 53 million</p>
<p><img width="250" height="250" src="../assets/img/pop.jpg" /> </p>
<h3>Olympic Games </h3>
<p>The Summer Olympic Games have been held in London 3 times, in 1908, 1948 and 2012 The 2012 Summer Olympics, formally the Games of the XXX Olympiad and commonly known as London 2012, was an international multi-sport event that was held from 27 July to 12 August 2012 in London, United Kingdom</p>
<p><img width="250" height="250" src="../assets/img/2012.jpg" /> </p>
<h3>Islands</h3>
<p>England includes many small islands such as the Isle of Wight and Hayling Island This is a list of islands of the United Kingdom. The United Kingdom of Great Britain and Northern Ireland has thousands of islands within its territory and several external territories. This is a list of selected British islands grouped by constituent country or overseas territory. The largest British island is Great Britain, which forms a substantial majority of the United Kingdom and is the ninth-largest island in the world.</p>
<p><img width="250" height="250" src="../assets/img/Island.jpg" /> </p>
<h3>Scientists</h3>
<p>.Famous English scientists include Charles Darwin, Michael Faraday, Isaac Newton and Stephen Hawking among many others</p>
<p><img width="250" height="250" src="../assets/img/Newton.jpg" /> </p>


</ion-content>
